<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/439853a9-059b-4e3f-9473-3feeb3fa5201/resourcegroups/ShareRemoteHackathon/providers/Microsoft.Web/sites/AplicatieMedici20200404052836</ResourceId>
    <ResourceGroup>ShareRemoteHackathon</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://aplicatiemedici20200404052836.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>aplicatiemedici20200404052836.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AplicatieMedici20200404052836</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AplicatieMedici20200404052836</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=E7490-4Q6SPQ2;Initial Catalog=livia;Integrated Security=True;User ID=insight;Password=password" Name="Data Source=E7490-4Q6SPQ2;Initial Catalog=livia;Integrated Security=True;User ID=insight;Password=password;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AplicatieSalariati.Models.ApplicationDbContext, AplicatieSalariati" MigrationConfiguration="AplicatieSalariati.Migrations.Configuration, AplicatieSalariati" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=E7490-4Q6SPQ2;Initial Catalog=livia;Integrated Security=True;User ID=insight;Password=password;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>