@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">Modul ERP de gestionare a angajatilor, salariilor si zilelor de concediu</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Scopul proiectului</h2>
        <p>
            Acest proiect are ca scop gestionarea angajatiilor, calcularea salariilor angajatilor unor firme in functie de 
            taxele si impozitele impuse si de a gestiona zilele de concediu a angajatilor
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Functiile indeplinite</h2>
        <p>Proiectul ofera multiple functionalitati in functie de utilizator.</p>
        <p>Acestia sunt:</p>
        <ul>
            <li>Super User</li>
            <li>Administrator</li>
            <li>Manager</li>
            <li>Angajat</li>
        </ul>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Incepe de aici!</h2>
        <a type="button" value="Editati Salariatii" class="btn btn-primary">Salariati</a>
       
         @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>